# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Store filepath, load the csv file
input_file = "full_output.csv"
input_df = pd.read_csv(input_file)

In [3]:
input_df.head()

,City,Longitude,Latitude,Tempurature (F),Humidity,Windspeed (MPH),Cloudiness
0,dikson,80.55,73.51,41.38,87,17.13,1
1,georgetown,100.34,5.41,84.09,74,6.93,20
2,hasaki,140.83,35.73,74.75,94,5.82,75
3,albany,-73.97,42.60,71.29,75,3.13,49
4,victoria,114.16,22.29,85.39,58,11.01,98

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Access gmaps 
gmaps.configure(api_key=g_key)

# Customize the size of the figure
figure_layout = {
    'width': '1000px',
    'height': '800px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

# Establish coordinates from long / data; assign markers and layer to the map
lats = input_df["Latitude"]
lngs = input_df["Longitude"]
coordinates = zip(lats, lngs)

markers = gmaps.marker_layer(list(coordinates))

fig.add_layer(markers)

fig

Figure(layout=FigureLayout(border='1px solid black', height='800px', margin='0 auto 0 auto', padding='1px', wiâ€¦

In [5]:
# Add the heat layer

#humidity = input_df["Humidity"]

#fig = gmaps.figure()
#locations = humidity
#heatmap = gmaps.heatmap_layer(humidity)
#heatmap.max_intensity = 2
#heatmap.point_radius = 3
#heatmap.gradient = ['white', 'gray']
#fig.add_layer(heatmap)

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
ideal_df = input_df.loc[(input_df["Tempurature (F)"] <= 80) & (input_df["Tempurature (F)"] >= 60) & 
                       (input_df["Humidity"] <= 60)]
ideal_df

,City,Longitude,Latitude,Tempurature (F),Humidity,Windspeed (MPH),Cloudiness
19,saint-philippe,55.77,-21.36,63.82,52,23.04,75
35,opuwo,13.84,-18.06,76.55,18,9.84,0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [76]:
# NOTE:  Change file to ideal; running on input to have enough city names now to find a hotel


lats1 = input_df["Latitude"]
longs1 = input_df["Longitude"]
# lat_lngs1 = zip(lats1, longs1)

hotels =[]

# list(lat_lngs1)

# "location": target_coordinates,

# coords = [[lats1], [longs1]]
# coords_df = pd.DataFrame(coords)

#for n in longs1:
    #print(coords_df.loc["Latitude"][n])
#    print(n)




for n in np.arange(0,5):
    target_coordinates = str(lats1[n])+","+str(longs1[n])
    print(target_coordinates)
    radius = "10000"
    type = "hotel"

    # build query url
    # query_url = url + "appid=" + api_key + "&q=" + city
    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    query_url = base_url + "location=" + target_coordinates + "&radius=" + radius + "&type=" + type +"&key=" + g_key
    print(query_url)
    
    # run a request using our params dictionary
    response = requests.get(query_url)
    
    # format response
    hotel_json = response.json()

    # Select first hotel from json file
    hotel = hotel_json["results"][0]["name"]
    print(hotel)

73.51,80.55
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=73.51,80.55&radius=10000&type=hotel&key=AIzaSyDhUMylx3edToKfFkV2CQLxjkmq0HGbzNw
Dikson
5.41,100.34
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=5.41,100.34&radius=10000&type=hotel&key=AIzaSyDhUMylx3edToKfFkV2CQLxjkmq0HGbzNw
George Town
35.73,140.83
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=35.73,140.83&radius=10000&type=hotel&key=AIzaSyDhUMylx3edToKfFkV2CQLxjkmq0HGbzNw
Kamisu
42.6,-73.97
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=42.6,-73.97&radius=10000&type=hotel&key=AIzaSyDhUMylx3edToKfFkV2CQLxjkmq0HGbzNw
Delmar
22.29,114.16
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=22.29,114.16&radius=10000&type=hotel&key=AIzaSyDhUMylx3edToKfFkV2CQLxjkmq0HGbzNw
Hong Kong

In [73]:
import json
hotel_json = response.json()

# Select first hotel from json file
hotel = hotel_json["results"][0]["name"]

print(json.dumps(hotel_json, indent=4, sort_keys=True))

{
    "html_attributions": [],
    "results": [
        {
            "geometry": {
                "location": {
                    "lat": 22.31920109999999,
                    "lng": 114.1696121
                },
                "viewport": {
                    "northeast": {
                        "lat": 22.561968,
                        "lng": 114.4294999
                    },
                    "southwest": {
                        "lat": 22.1435,
                        "lng": 113.8259001
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
            "id": "e7837e254c7b5dd74314f5a165f6a5b7e9fe48ad",
            "name": "Hong Kong",
            "photos": [
                {
                    "height": 2400,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/110560241757683037704\">Tiger Xu</a>"
                    ],
                    "photo_reference": "CmRaAAAAoyye-Rpg02KSY7i78rf0nCGllZ5fqt1HjP2XglDUG6Gco0NQUwZoov2s90jVmUemaeT9cMcu0mvo9ea9w7hsXF8lv9BkvZFY16pXUE0khE0xAh0fjCV_b92RLrjUL3nNEhA10iUT9UNpS1jCmr4AfBodGhQSORVYxsQRhOcKhbsjn4-qE09SkQ",
                    "width": 3600
                }
            ],
            "place_id": "ChIJByjqov3-AzQR2pT0dDW0bUg",
            "reference": "ChIJByjqov3-AzQR2pT0dDW0bUg",
            "scope": "GOOGLE",
            "types": [
                "locality",
                "political"
            ],
            "vicinity": "Hong Kong"
        },
        {
            "geometry": {
                "location": {
                    "lat": 22.3771304,
                    "lng": 114.1974398
                },
                "viewport": {
                    "northeast": {
                        "lat": 22.410345,
                        "lng": 114.221425
                    },
                    "southwest": {
                        "lat": 22.367131,
                        "lng": 114.177721
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
            "id": "25a2084a3e829f75cacc50debe255aa69110f7aa",
            "name": "Sha Tin",
            "photos": [
                {
                    "height": 899,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/114441308123288407020\">Little Baby Tsang</a>"
                    ],
                    "photo_reference": "CmRaAAAAau5_-jvtQRV7nJFxZlq9yNLaYqoGX5xdrAnHGQ8bBxhoSRFKEVCXglL4snPKSQE16AeDsCby3pyqX_sY7RTDISYMrwDVVk8eNOXPaCemJ6DAmtr2JBnZ0kqO9LCAb1IHEhBX9M36oxQO4d2yZcARXLneGhSb_xGSkUpVmdvwuRwbJvGdtYIoQw",
                    "width": 1599
                }
            ],
            "place_id": "ChIJE7LqOkkGBDQROkTLhUO0GXU",
            "reference": "ChIJE7LqOkkGBDQROkTLhUO0GXU",
            "scope": "GOOGLE",
            "types": [
                "neighborhood",
                "political"
            ]
        }
    ],
    "status": "OK"
}

In [31]:
input_df

,City,Longitude,Latitude,Tempurature (F),Humidity,Windspeed (MPH),Cloudiness
0,dikson,80.55,73.51,41.38,87,17.13,1
1,georgetown,100.34,5.41,84.09,74,6.93,20
2,hasaki,140.83,35.73,74.75,94,5.82,75
3,albany,-73.97,42.60,71.29,75,3.13,49
4,victoria,114.16,22.29,85.39,58,11.01,98
5,ulaanbaatar,106.88,47.91,60.80,87,4.47,75
6,rikitea,-134.97,-23.12,69.55,79,21.39,28
7,carnarvon,113.63,-24.87,62.60,93,5.82,0
8,egvekinot,-179.17,66.32,48.52,86,5.21,100
9,port blair,92.75,11.67,84.18,75,1.63,11
10,chunhuhub,-88.68,19.55,78.06,87,2.77,93
11,san quintin,-115.95,30.48,64.27,84,6.93,98
12,qaqortoq,-46.03,60.72,50.00,81,9.17,75
13,sitka,-135.33,57.05,55.40,87,6.93,90
14,mar del plata,-57.56,-38.00,39.51,86,5.82,0
15,aklavik,-135.01,68.22,53.60,76,3.36,75
16,udachnyy,112.40,66.42,55.40,87,8.95,90
17,avarua,-159.78,-21.21,69.80,77,9.17,79
18,ushuaia,-68.30,-54.80,26.60,86,24.16,75
19,saint-philippe,55.77,-21.36,63.82,52,23.04,75
20,fuerte olimpo,-57.87,-21.04,57.11,65,8.28,100
21,busselton,115.33,-33.65,61.23,72,17.76,100
22,lodja,23.43,-3.48,95.99,23,4.07,34
23,arraial do cabo,-42.03,-22.97,76.23,61,12.75,0
24,cidreira,-50.21,-30.18,51.01,87,16.84,100
25,butaritari,172.79,3.07,83.46,72,16.80,1
26,mayumba,10.66,-3.43,76.77,66,6.51,86
27,honavar,74.45,14.28,80.44,80,7.70,100
28,coos bay,-124.22,43.37,51.03,93,9.17,1
29,mount gambier,140.77,-37.83,42.80,93,3.85,0
30,faanui,-151.75,-16.48,77.27,78,14.27,0
31,luquillo,-65.72,18.37,85.33,66,6.93,1
32,new norfolk,147.06,-42.78,41.00,87,2.68,87
33,homer,-151.55,59.64,51.21,87,3.36,90
34,saint-francois,3.91,46.42,82.40,34,5.82,100
35,opuwo,13.84,-18.06,76.55,18,9.84,0
36,atuona,-139.03,-9.80,78.93,78,21.74,4

In [25]:
# geocoordinates (coordinatea are for charlotte, nc)
# building query based on query_url format

lats2 = 35.23
longs2 = -80.84
target_coordinates = str(lats2) + "," + str(longs2)
radius = "10000"
type = "hotel"

# build query url
# query_url = url + "appid=" + api_key + "&q=" + city
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
query_url = base_url + "location=" + target_coordinates + "&radius=" + radius + "&type=" + type +"&key=" + g_key

# run a request using our params dictionary
response = requests.get(query_url)
print(query_url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=35.23,-80.84&radius=10000&type=hotel&key=AIzaSyDhUMylx3edToKfFkV2CQLxjkmq0HGbzNw

In [28]:
print(target_coordinates)

35.23,-80.84

In [29]:
# pull hotel names from JSON file
# NOTE:  JSON PULL DOES NOT WORK WITH LATS2+LONGS2 FORMAT

hotel_json = response.json()

# Select first hotel from json file
hotel = hotel_json["results"][1]["name"]
hotel

'The Dunhill Hotel'

In [30]:
# geocoordinates (coordinatea are for victoria (NZ or AUS?))
# Building query based on params dictionary
# NOTE:  QUERY WORKS FOR BOTH TARGET COORDINATES AND LATS2+lONGS2; HOWEVER, JSON PULL COMES UP EMPTY ON SECOND APPROACH


lats2 = 35.23
longs2 = -80.84
target_coordinates = (lats2,longs2)
radius = "8000"
type = "hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "radius": radius,
    "type": type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

# run a request using our params dictionary
response = requests.get(base_url, params=params)
print(query_url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=35.23,-80.84&radius=10000&type=hotel&key=AIzaSyDhUMylx3edToKfFkV2CQLxjkmq0HGbzNw

In [ ]:
# pull hotel names from JSON file
# NOTE:  JSON PULL DOES NOT WORK WITH LATS2+LONGS2 FORMAT

hotel_json = response.json()

# Select first hotel from json file
hotel = hotel_json["results"]
hotel

In [ ]:
# https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters

# https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY

In [ ]:
# build loop to pull hotel info


lats1 = input_df["Latitude"]
longs1 = input_df["Longitude"]

for lat in lats1:
    target_coordinates = str(lats1) + "," + str(longs1)
    radius = "10000"
    type = "hotel"

    # build query url
    # query_url = url + "appid=" + api_key + "&q=" + city
    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    query_url = base_url + "location=" + target_coordinates + "&radius=" + radius + "&type=" + type +"&key=" + g_key

    # run a request using our params dictionary
    response = requests.get(query_url)
    print(query_url)

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure