# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Store filepath, load the csv file
input_file = "Output Folders/full_output.csv"
input_df = pd.read_csv(input_file)

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
figure_layout = {
    'width': '900px',
    'height': '700px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

In [4]:
# Access gmaps 
gmaps.configure(api_key=g_key)

# Customize the size of the figure
figure_layout = {
    'width': '900px',
    'height': '700px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout)

# Establish coordinates from long / data; assign markers and layer to the map
lats = input_df["Latitude"]
lngs = input_df["Longitude"]
coordinates = zip(lats, lngs)

markers = gmaps.marker_layer(list(coordinates))

fig.add_layer(markers)

fig

Figure(layout=FigureLayout(border='1px solid black', height='700px', margin='0 auto 0 auto', padding='1px', wi…

In [5]:
import gmaps.datasets

locations = input_df[["Latitude", "Longitude"]]
weights = input_df["Humidity"]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [44]:
ideal_df = input_df.loc[(input_df["Tempurature (F)"] <= 80) & (input_df["Tempurature (F)"] >= 70) & 
                       (input_df["Windspeed (MPH)"] <= 10) &
                       (input_df["Cloudiness"] == 0)]
ideal_df

,City,Longitude,Latitude,Tempurature (F),Humidity,Windspeed (MPH),Cloudiness
13,gat,34.76,31.61,79.65,77,5.99,0
121,ponta do sol,-17.10,32.67,70.70,66,1.34,0
124,redmond,-122.12,47.67,71.13,59,6.22,0
183,dzialdowo,20.17,53.24,78.80,41,4.70,0
395,mwene-ditu,23.45,-7.00,73.29,26,4.92,0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [45]:
# NOTE:  This is a test loop to pull correct values from lats1 and longs 1 in next cell

lats1 = ideal_df["Latitude"]
longs1 = ideal_df["Longitude"]
city1 = ideal_df["City"]

# lats1.index has 74 values starting at 29 (row 0) and ending at 568 (row 73)
    #lats1.index[0]
    #lats1.index[73]
    #len(lats1.index)

#create a loop that return index value for count; y returns the index value
for n in np.arange(0, len(lats1.index)):
    y = lats1.index[n]
    #print(city1[y])

In [46]:
# NOTE:  Change file to ideal; running on input to have enough city names now to find a hotel

#lats1 = ideal_df["Latitude"]
#longs1 = ideal_df["Longitude"]


hotels =[]
hotelindex = []
citytrack = []

#set arange outstide value to equal to index length of lats1

for n in np.arange(0, len(lats1.index)):
    y = lats1.index[n]
    target_coordinates = str(lats1[y])+","+str(longs1[y])
    print(target_coordinates)
    radius = "5000"
    type = "lodging"

    # build query url
    # From google:
    # base url: "https://maps.googleapis.com/maps/api/place/nearbysearch/json?" + endpoint
    # endpoint: location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    query_url = base_url + "location=" + target_coordinates + "&radius=" + radius + "&type=" + type +"&key=" + g_key
    print(query_url)
    
    # run a request using our params dictionary
    response = requests.get(query_url)
    print(response.status_code)
    
    # format response
    hotel_json = response.json()   
    
    if hotel_json["status"] == "ZERO_RESULTS":
        hotels.append("No hotels")
        hotelindex.append(ideal_df["City"].index[n])
        citytrack.append(city1[y])
    
    else:
        print(hotel_json["status"])
        hotel = hotel_json["results"][0]["name"]
        hotels.append(hotel)
        hotelindex.append(ideal_df["City"].index[n])
        citytrack.append(city1[y])
        print(hotel)
        
# NOTE:  Printing selected output values to ensure proper responses in building hotel file

31.61,34.76
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=31.61,34.76&radius=5000&type=lodging&key=AIzaSyDhUMylx3edToKfFkV2CQLxjkmq0HGbzNw
200
OK
רגע בנחת
32.67,-17.1
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=32.67,-17.1&radius=5000&type=lodging&key=AIzaSyDhUMylx3edToKfFkV2CQLxjkmq0HGbzNw
200
OK
Hotel do Campo
47.67,-122.12
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=47.67,-122.12&radius=5000&type=lodging&key=AIzaSyDhUMylx3edToKfFkV2CQLxjkmq0HGbzNw
200
OK
Seattle Marriott Redmond
53.24,20.17
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=53.24,20.17&radius=5000&type=lodging&key=AIzaSyDhUMylx3edToKfFkV2CQLxjkmq0HGbzNw
200
OK
VARIA
-7.0,23.45
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-7.0,23.45&radius=5000&type=lodging&key=AIzaSyDhUMylx3edToKfFkV2CQLxjkmq0HGbzNw
200
OK
Hôtel Kamas

In [11]:
# city = hotel_json["results"][]

SyntaxError: invalid syntax (<ipython-input-11-331d6421a1a0>, line 1)

In [47]:
# Format hotels output and set index on ideal_df index
hotelout_df = pd.DataFrame({"Nearest Hotel": hotels, "City": citytrack})
indexout_df = pd.DataFrame({"Index": hotelindex})
hotelsearch_df = pd.concat([hotelout_df, indexout_df], axis=1) 
hotelsearch_df.set_index("Index").head()

                  Nearest Hotel          City
Index
13                     רגע בנחת           gat
121              Hotel do Campo  ponta do sol
124    Seattle Marriott Redmond       redmond
183                       VARIA     dzialdowo
395                 Hôtel Kamas    mwene-ditu

In [48]:
# Merge hotelsearch_df adn ideal_df files
# NOTE:  This took several iterations to get to work, including the following
    # hotel_df = pd.concat([ideal_df, hotelsearch_df], axis=1)
    # hotel_df = pd.DataFrame({"Hotels": hotels})
    # hotel_df = pd.concat([hotel_df, ideal_df], axis =1)
    
hotel_df = pd.merge(ideal_df, hotelsearch_df, on="City")
hotel_df

,City,Longitude,Latitude,Tempurature (F),Humidity,Windspeed (MPH),Cloudiness,Nearest Hotel,Index
0,gat,34.76,31.61,79.65,77,5.99,0,רגע בנחת,13
1,ponta do sol,-17.10,32.67,70.70,66,1.34,0,Hotel do Campo,121
2,redmond,-122.12,47.67,71.13,59,6.22,0,Seattle Marriott Redmond,124
3,dzialdowo,20.17,53.24,78.80,41,4.70,0,VARIA,183
4,mwene-ditu,23.45,-7.00,73.29,26,4.92,0,Hôtel Kamas,395

In [49]:
# Clean for cities with no hotels:
hotel_df = hotel_df[hotel_df["Nearest Hotel"] != "No hotels"]
hotel_df

,City,Longitude,Latitude,Tempurature (F),Humidity,Windspeed (MPH),Cloudiness,Nearest Hotel,Index
0,gat,34.76,31.61,79.65,77,5.99,0,רגע בנחת,13
1,ponta do sol,-17.10,32.67,70.70,66,1.34,0,Hotel do Campo,121
2,redmond,-122.12,47.67,71.13,59,6.22,0,Seattle Marriott Redmond,124
3,dzialdowo,20.17,53.24,78.80,41,4.70,0,VARIA,183
4,mwene-ditu,23.45,-7.00,73.29,26,4.92,0,Hôtel Kamas,395

In [50]:
# Save dataframe

hotel_df.head()
hotel_df2 = hotel_df

In [51]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Nearest Hotel}</dd>
<dt>City</dt><dd>{City}</dd>

</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [52]:
# Plot ideal cities on a map
# Access gmaps 
gmaps.configure(api_key=g_key)

# Customize the size of the figure
figure_layout = {
    'width': '1000px',
    'height': '800px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

# Establish coordinates from long / data; assign markers and layer to the map
lats = hotel_df["Latitude"]
lngs = hotel_df["Longitude"]
coordinates = zip(lats, lngs)

markers = gmaps.marker_layer(list(coordinates),info_box_content = hotel_info)

fig.add_layer(markers)

fig

Figure(layout=FigureLayout(border='1px solid black', height='800px', margin='0 auto 0 auto', padding='1px', wi…